body{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    background-color: rgb(101, 102, 107);
    font-size: 60px;

}

div p{
    color:red;
}
.child > p{
    font-weight: bold;
    text-decoration: line-through;
}
#test ~ div {
    background-color: blue;
}
main+p{
text-transform: uppercase;
}