*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #333;
  font-size: 3.6rem;
}

.grid-container {
  /* margin: 50px; */
  display: grid;
  /* height: 900px; */
  /* grid-template-columns: 10% 50% 40%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-columns: repeat(5, 100px);
  grid-template-columns: repeat(5, 100px 200px);
  grid-template-columns: repeat(3, 100px) 400px; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 500px 300px; */
  grid-template-rows: 1fr 1fr;
  /* gap: 50px; */
  gap: 10px 50px;
  /* row-gap: 50px;
  column-gap: 100px; */



}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #297ddf;
  border: 3px solid black;
}

.grid-item:nth-child(even) {
  background-color: #34e559;
}
